upstream nginx-proxy {
  {% for host in groups['web'] %}
    {% for site in hostvars[host].sites %}
      server {{ hostvars[host].ansible_eth1.ipv4.address }}:{{ site.port }};
    {% endfor %}
  {% endfor %}
}

# RP
server {
  listen 9000 ssl;
  server_name nameserver;
	
  ssl_certificate /etc/ssl/certs/ansible_cert.crt;
  ssl_certificate_key /etc/ssl/private/ansible_cert.pem;

  location / {
    proxy_pass http://nginx-proxy;
  }
}
